.container {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 320px);
    gap: 20px;
    grid-template-areas:
        "A A B C"
        "D E E C";
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    color: hsl(0, 0%, 81%);
    letter-spacing: 0.5px;
    justify-content: center;
    align-content: center;

    .person {
        border-radius: 20px;
        padding: 25px;

        .fatText {
            font-weight: 600;
            margin: 20px 0px 20px 0px;
            font-size: 1.2rem;
        }
    }
}

h1 {
    font-size: 1.1rem;
    opacity: 90%;
}

.lightText {
    color: darkgray;
    font-size: 1rem;
    opacity: 80%;
}



.one {
    background-color: hsl(263, 55%, 52%);
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 400px;
    grid-area: A;
}

.two {
    background-color: hsl(217, 19%, 35%);
    grid-area: B;

}

.three {
    background-color: hsl(0, 0%, 100%);
    grid-area: D;
    color: gray;
}

.four {
    background-color: hsl(219, 29%, 14%);
    grid-area: E;
}

.five {
    background-color: hsl(0, 0%, 100%);
    grid-area: C;
    color: gray;
}