* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    max-width: 1440px;
    background-color: hsl(210, 46%, 95%);
    font-size: 10px;
    height: 100vh;
}